<div class="container">
  <mat-card class="mat-elevation-z9">
    <mat-card-header>
      <mat-card-title>
        <h4>Bem-vindo!</h4>
      </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content class="mt-3 container">
      <p>Este sistema tem como objetivo oferecer funcionalidades para um usuário, cujo objetivo é substituir uma
        planilha Excel para um sistema mais intuitivo, onde ele poderá acessar as páginas através de um menu dividido
        entre:
        <div class="d-flex flex-column mt-5">
          <div>
            <h6>
              Área de administração do sistema: &nbsp; &nbsp;<span class="mat-elevation-z3 mt-2">MENU > Área do
                Administrador</span>
            </h6>
          </div>
          <div>
            <h6>
              Área de visitantes: &nbsp; &nbsp;<span class="mat-elevation-z3 mt-2">MENU > Lista de Pokémons</span>
            </h6>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>
