ng-container {
  width: 80px;
}

mat-header-cell {
  width: 120px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 1em;
}

mat-cell {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div-table {
  height: 650px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}
