<mat-sidenav-container class="h-100">
  <mat-sidenav #sidenav mode="side" align="start" opened class="bg-sidenav">
    <div class="col-12 primary h-64 border pt-2 d-flex justify-content-center">
      <img src="../../../assets/img/img-menu-yellow.png" class="img-fluid img-menu">
    </div>
    <hr class="mt-0 mb-4">

    <div class="d-flex flex-column">
      <button mat-button class="col-12 d-flex" (click)="pokemonsRoute()">
        <img src="../../../assets/img/pokebola-go.png" alt="" class="img-fluid img-pokebola mr-2 align-self-lg-start">
        Lista de Pokémons
      </button>
      <button mat-button class="col-12 d-flex" (click)="adminRoute()">
        <img src="../../../assets/img/pokebola-go.png" alt="" class="img-fluid img-pokebola mr-2 align-self-lg-start">
        Área do Administrador
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar-color-custom">
      <div class="d-inline-flex">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="m-5">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--

    <svg class="col-svg">
      <polyline points="15,15 15,40 25,40 25,20 35,35 45,20" fill="yellow" stroke="#0000ff" stroke-width="4" />
    </svg>

-->
